<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>update</key>
	<date>2015-05-11T17:18:55Z</date>
	<key>themes</key>
	<array>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of the World I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>1</integer>
			<key>mapCode</key>
			<string>world</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>1</integer>
					<key>localeName</key>
					<string>São Paulo, Brazil</string>
					<key>latitude</key>
					<string>-23.5479106</string>
					<key>longitude</key>
					<string>-46.6360186</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2</integer>
					<key>localeName</key>
					<string>Abu Dhabi, United Arab Emirates</string>
					<key>latitude</key>
					<string>24.4667</string>
					<key>longitude</key>
					<string>54.3667</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>3</integer>
					<key>localeName</key>
					<string>Adelaide, Australia</string>
					<key>latitude</key>
					<string>-34.9286</string>
					<key>longitude</key>
					<string>138.6</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>4</integer>
					<key>localeName</key>
					<string>Amsterdam, Netherlands</string>
					<key>latitude</key>
					<string>52.3702</string>
					<key>longitude</key>
					<string>4.89517</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>5</integer>
					<key>localeName</key>
					<string>Ankara, Turkey</string>
					<key>latitude</key>
					<string>39.9208</string>
					<key>longitude</key>
					<string>32.8541</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>6</integer>
					<key>localeName</key>
					<string>Athens, Greece</string>
					<key>latitude</key>
					<string>37.9837</string>
					<key>longitude</key>
					<string>23.7293</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1</integer>
					<key>localeName</key>
					<string>Auckland, New Zealand</string>
					<key>latitude</key>
					<string>-36.8485</string>
					<key>longitude</key>
					<string>174.763</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>8</integer>
					<key>localeName</key>
					<string>Barcelona, Spain</string>
					<key>latitude</key>
					<string>41.3851</string>
					<key>longitude</key>
					<string>2.1734</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>9</integer>
					<key>localeName</key>
					<string>Beijing, China</string>
					<key>latitude</key>
					<string>39.904</string>
					<key>longitude</key>
					<string>116.408</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>10</integer>
					<key>localeName</key>
					<string>Berlin, Germany</string>
					<key>latitude</key>
					<string>52.5192</string>
					<key>longitude</key>
					<string>13.4061</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of France I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>2</integer>
			<key>mapCode</key>
			<string>france</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>1245</integer>
					<key>localeName</key>
					<string>Paris</string>
					<key>latitude</key>
					<string>48.8566</string>
					<key>longitude</key>
					<string>2.35222</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1246</integer>
					<key>localeName</key>
					<string>Marseille</string>
					<key>latitude</key>
					<string>43.2965</string>
					<key>longitude</key>
					<string>5.36978</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1247</integer>
					<key>localeName</key>
					<string>Lyon</string>
					<key>latitude</key>
					<string>45.764</string>
					<key>longitude</key>
					<string>4.83566</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1248</integer>
					<key>localeName</key>
					<string>Toulouse</string>
					<key>latitude</key>
					<string>43.6047</string>
					<key>longitude</key>
					<string>1.44421</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1249</integer>
					<key>localeName</key>
					<string>Nice</string>
					<key>latitude</key>
					<string>43.696</string>
					<key>longitude</key>
					<string>7.26559</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of UK I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>8</integer>
			<key>mapCode</key>
			<string>uk</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>2213</integer>
					<key>localeName</key>
					<string>London</string>
					<key>latitude</key>
					<string>51.5112</string>
					<key>longitude</key>
					<string>-0.119824</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2214</integer>
					<key>localeName</key>
					<string>Manchester</string>
					<key>latitude</key>
					<string>53.4793</string>
					<key>longitude</key>
					<string>-2.24849</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2215</integer>
					<key>localeName</key>
					<string>Birmingham</string>
					<key>latitude</key>
					<string>52.4862</string>
					<key>longitude</key>
					<string>-1.8904</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2216</integer>
					<key>localeName</key>
					<string>Sheffield</string>
					<key>latitude</key>
					<string>53.3811</string>
					<key>longitude</key>
					<string>-1.47009</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2217</integer>
					<key>localeName</key>
					<string>Nottingham</string>
					<key>latitude</key>
					<string>52.9548</string>
					<key>longitude</key>
					<string>-1.15811</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of Australia I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>7</integer>
			<key>mapCode</key>
			<string>australia</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>488</integer>
					<key>localeName</key>
					<string>Sydney</string>
					<key>latitude</key>
					<string>-33.8675</string>
					<key>longitude</key>
					<string>151.207</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>489</integer>
					<key>localeName</key>
					<string>Melbourne</string>
					<key>latitude</key>
					<string>-37.8141</string>
					<key>longitude</key>
					<string>144.963</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>490</integer>
					<key>localeName</key>
					<string>Brisbane</string>
					<key>latitude</key>
					<string>-27.4709</string>
					<key>longitude</key>
					<string>153.023</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>491</integer>
					<key>localeName</key>
					<string>Perth</string>
					<key>latitude</key>
					<string>-31.953</string>
					<key>longitude</key>
					<string>115.857</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>492</integer>
					<key>localeName</key>
					<string>Adelaide</string>
					<key>latitude</key>
					<string>-34.9286</string>
					<key>longitude</key>
					<string>138.6</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of China I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>6</integer>
			<key>mapCode</key>
			<string>china</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>256</integer>
					<key>localeName</key>
					<string>Shanghai</string>
					<key>latitude</key>
					<string>31.2304</string>
					<key>longitude</key>
					<string>121.474</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>257</integer>
					<key>localeName</key>
					<string>Beijing</string>
					<key>latitude</key>
					<string>39.904</string>
					<key>longitude</key>
					<string>116.408</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>258</integer>
					<key>localeName</key>
					<string>Tianjin</string>
					<key>latitude</key>
					<string>39.0842</string>
					<key>longitude</key>
					<string>117.201</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>259</integer>
					<key>localeName</key>
					<string>Guangzhou</string>
					<key>latitude</key>
					<string>23.1292</string>
					<key>longitude</key>
					<string>113.264</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>260</integer>
					<key>localeName</key>
					<string>Shenzhen</string>
					<key>latitude</key>
					<string>22.5431</string>
					<key>longitude</key>
					<string>114.058</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of Brazil I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>3</integer>
			<key>mapCode</key>
			<string>brazil</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>612</integer>
					<key>localeName</key>
					<string>São Paulo</string>
					<key>latitude</key>
					<string>-23.5489</string>
					<key>longitude</key>
					<string>-46.6388</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>613</integer>
					<key>localeName</key>
					<string>Rio de Janeiro</string>
					<key>latitude</key>
					<string>-22.9035</string>
					<key>longitude</key>
					<string>-43.2096</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>614</integer>
					<key>localeName</key>
					<string>Salvador</string>
					<key>latitude</key>
					<string>-12.9704</string>
					<key>longitude</key>
					<string>-38.5124</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>615</integer>
					<key>localeName</key>
					<string>Brasília</string>
					<key>latitude</key>
					<string>-15.7801</string>
					<key>longitude</key>
					<string>-47.9292</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>616</integer>
					<key>localeName</key>
					<string>Fortaleza</string>
					<key>latitude</key>
					<string>-3.71839</string>
					<key>longitude</key>
					<string>-38.5434</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of USA I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>5</integer>
			<key>mapCode</key>
			<string>usa</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>2378</integer>
					<key>localeName</key>
					<string>New York, NY</string>
					<key>latitude</key>
					<string>40.7144</string>
					<key>longitude</key>
					<string>-74.006</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2379</integer>
					<key>localeName</key>
					<string>Los Angeles, CA</string>
					<key>latitude</key>
					<string>34.0522</string>
					<key>longitude</key>
					<string>-118.244</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2380</integer>
					<key>localeName</key>
					<string>Chicago, IL</string>
					<key>latitude</key>
					<string>41.8781</string>
					<key>longitude</key>
					<string>-87.6298</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2381</integer>
					<key>localeName</key>
					<string>Houston, TX</string>
					<key>latitude</key>
					<string>29.7602</string>
					<key>longitude</key>
					<string>-95.3694</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>2382</integer>
					<key>localeName</key>
					<string>Philadelphia, PA</string>
					<key>latitude</key>
					<string>39.9523</string>
					<key>longitude</key>
					<string>-75.1638</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pointsToUnlock</key>
			<integer>0</integer>
			<key>bundle</key>
			<string></string>
			<key>tier</key>
			<string>0</string>
			<key>name</key>
			<string>Cities of South Africa I</string>
			<key>parent</key>
			<integer>-1</integer>
			<key>ID</key>
			<integer>4</integer>
			<key>mapCode</key>
			<string>southafrica</string>
			<key>order</key>
			<integer>1</integer>
			<key>locales</key>
			<array>
				<dict>
					<key>localeID</key>
					<integer>1812</integer>
					<key>localeName</key>
					<string>Johannesburg</string>
					<key>latitude</key>
					<string>-26.2041</string>
					<key>longitude</key>
					<string>28.0473</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1813</integer>
					<key>localeName</key>
					<string>Cape Town</string>
					<key>latitude</key>
					<string>-33.9249</string>
					<key>longitude</key>
					<string>18.4241</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1814</integer>
					<key>localeName</key>
					<string>Durban</string>
					<key>latitude</key>
					<string>-29.8579</string>
					<key>longitude</key>
					<string>31.0276</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1815</integer>
					<key>localeName</key>
					<string>Germiston</string>
					<key>latitude</key>
					<string>-26.2178</string>
					<key>longitude</key>
					<string>28.1672</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
				<dict>
					<key>localeID</key>
					<integer>1816</integer>
					<key>localeName</key>
					<string>Pretoria</string>
					<key>latitude</key>
					<string>-25.7313</string>
					<key>longitude</key>
					<string>28.2184</string>
					<key>date</key>
					<date>2015-05-11T17:21:07Z</date>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
